# === SIFEN ===
SIFEN_ENV=prod
SIFEN_CONFIRM_PROD=YES

# Firma (P12)
SIFEN_SIGN_P12_PATH=/etc/sifen/certs/firma.p12
SIFEN_SIGN_P12_PASSWORD=REEMPLAZAR

# mTLS (PEM)
SIFEN_CERT_PATH=/etc/sifen/certs/mtls_cert.pem
SIFEN_KEY_PATH=/etc/sifen/certs/mtls_key.pem

# CSC
SIFEN_CSC=REEMPLAZAR
SIFEN_CSC_ID=1

# Emisor
SIFEN_EMISOR_RUC=4554737-8
SIFEN_RUC_WITH_DV=1

# QR
SIFEN_QR_BASE_URL=https://www.ekuatia.set.gov.py/consultas/qr

# === SMTP ===
SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_USER=usuario
SMTP_PASS=REEMPLAZAR
MAIL_FROM=facturacion@tu-dominio.com

# === WebUI ===
SIFEN_WEBUI_DB=/opt/sifen-minisender-2/webui/data.db
