# === SIFEN ===
SIFEN_ENV=prod
SIFEN_CONFIRM_PROD=YES

# Firma (P12)
SIFEN_SIGN_P12_PATH=/opt/sifen-minisender/secrets/F1T_65478.p12
SIFEN_SIGN_P12_PASSWORD=REEMPLAZAR

# mTLS (PEM)
SIFEN_CERT_PATH=/opt/sifen-minisender/secrets/cert.pem
SIFEN_KEY_PATH=/opt/sifen-minisender/secrets/key.pem

# CSC
SIFEN_CSC=REEMPLAZAR
SIFEN_CSC_ID=1

# Emisor
SIFEN_EMISOR_RUC=4554737-8
SIFEN_RUC_WITH_DV=1
SIFEN_ISSUER_LOGO_PATH=/opt/sifen-minisender/assets/industria-feris-isotipo.jpg

# QR
SIFEN_QR_BASE_URL=https://www.ekuatia.set.gov.py/consultas/qr

# === SMTP ===
SMTP_HOST=mail.if.com.py
SMTP_PORT=587
SMTP_USER=factura@if.com.py
SMTP_PASS=REEMPLAZAR
MAIL_FROM=factura@if.com.py

# === WebUI ===
SIFEN_WEBUI_DB=/opt/sifen-minisender/webui/data.db
